.createPost {
  background-color: white;
  padding: 20px;
}

.head {
  text-align: center;
  margin-top: 30px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dropzone {
  border: 2px dashed #cccccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #fafafa;
  margin-top: 20px;
}

.dropzone.active {
  border-color: #4caf50;
}

.image-preview {
  margin-top: 20px;
}

.image-preview img {
  max-width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.upload {
  background-color: #3080ef !important;
  color: white;
  padding: 10px 15px;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.upload:hover {
  background-color: #1e68d0 !important;
}

.full-image-preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.full-image-preview img {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid white;
  /* Add a border for better visibility */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  /* Add a shadow for better contrast */
  cursor: pointer;
}

.image-preview {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.preview-image {
  width: 200px;
  /* Adjust the width as needed */
  height: 200px;
  /* Adjust the height as needed */
  cursor: pointer;
}

.bin-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  /* Adjust the width as needed */
  height: 20px;
  /* Adjust the height as needed */
  cursor: pointer;


}

.voice {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.description-container {
  display: flex;
  align-items: center;
}

